@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("../../res/font/Pretendard-Black.subset.woff2") format("woff2"),
    url("../../res/font/Pretendard-Black.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("../../res/font/Pretendard-ExtraBold.subset.woff2") format("woff2"),
    url("../../res/font/Pretendard-ExtraBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("../../res/font/Pretendard-Bold.subset.woff2") format("woff2"),
    url("../../res/font/Pretendard-Bold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("../../res/font/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("../../res/font/Pretendard-SemiBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("../../res/font/Pretendard-Medium.subset.woff2") format("woff2"),
    url("../../res/font/Pretendard-Medium.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("../../res/font/Pretendard-Regular.subset.woff2") format("woff2"),
    url("../../res/font/Pretendard-Regular.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("../../res/font/Pretendard-Light.subset.woff2") format("woff2"),
    url("../../res/font/Pretendard-Light.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("../../res/font/Pretendard-ExtraLight.subset.woff2") format("woff2"),
    url("../../res/font/Pretendard-ExtraLight.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("../../res/font/Pretendard-Thin.subset.woff2") format("woff2"),
    url("../../res/font/Pretendard-Thin.subset.woff") format("woff");
}

@layer base {
  html {
    font-family: Pretendard;
  }
}
